<p>SIGN UP</p>
<form>
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome"><br><br>
  
  <label for="sobrenome">Sobrenome:</label>
  <input type="text" id="sobrenome" name="sobrenome"><br><br>
  
  <label for="dataNascimento">Data de Nascimento:</label>
  <input type="date" id="dataNascimento" name="dataNascimento"><br><br>
  
  <label for="telefone">Telefone:</label>
  <input type="tel" id="telefone" name="telefone"><br><br>
  
  <button type="submit">Enviar</button>
</form>